@import "./variables.scss";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-stack;
	font-size: 12px;
	letter-spacing: 2px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $black;
}

.wrapper {
	width: 80%;
	margin: 0 auto;

	header {
		z-index: 100;
		position: fixed;
		width: 80%;
		padding-top: 40px;
		background: $lightgrad;

		.logo {
			position: absolute;
			top: 15px;
			left: 2%;

			img {
				width: 20%;
			}
		}

		.search {
			position: absolute;
			width: 40px;
			height: 40px;
			top: 12px;
			right: 7%;
			transition: right 3s;
			

			.search_link {
				display: none; // adjusment for button instead of link
				position: absolute;
				left: 11px;
				top: 5px;
				width: 60%;
				height: 25px;
				cursor: pointer;	
			}

			#search_input {
				display: none;
				position: fixed;
				left: 30%;
				top: 30px;
				width: 44%;
				padding-left: 15px;
				border: none;
				outline: none;
				border-bottom: 2px solid $lightgray;
			}

			img {
				width: 70%;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -35% 0 0 -35%;
				cursor: pointer;	
			}
		}

		.basket {
			position: absolute;
			top: 14px;
			right: 3%;

			a {
				display: block;
				width: 33px;
				height: 33px;
				background: url("../img/busket-icon.png");
				background-size: cover;
			}

			div {
				position: relative;
				bottom: 43px;
				left: 30px;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background: $gray;

				span {
					display: block;
					position: relative;
					right: 1px;
					text-align: center;
					font-weight: bold;
					color: $white;
					letter-spacing: -1px;
				}
			}

		}

		.menu {
			display: flex;
			justify-content: center;

			.menu_link {
				display:block;
				padding: 5px;
				margin: 0 0.2vw;
				height: 50px;
				text-transform: uppercase;
				text-align: center;
				font-weight: bold;
				line-height: 50px;

				&:hover,
				&:focus {
					color: $pink;
				}

			}

		}
	}

	.main {
		padding-top: 150px;
		margin-bottom: 50px;
		min-height: 600px;

		.basket_inscription {
			position: relative;
			.inscription {
				margin-left: 20%;
				h1 {
					text-transform: uppercase;
					font-weight: normal;
					font-size: 30px;
				}
			}
			.language {
				a {
					display: block;
					position: absolute;
					right: 20px;
					top: -22px;
					font-weight: bold;
					text-transform: uppercase;
					color: $gray;
					transform: rotate(90deg);

					&:hover, &:focus {
						color: $black;
					}
				}
				.en {
					top: 8px;
					right: 21px;
				}
			}
			margin-bottom: 30px;
		}
		
		.good_item {
			display: flex;
			margin-bottom: 40px;

			div {
				width: 10%;
			}

			h5, h4 {
				color: $gray;
				text-transform: uppercase;
			}

			h5 {
				margin-bottom: 50px;
			}

			.item_st_font {
				font-size: 16px;
				text-transform: uppercase;
			}

			.item_photo {
				width: 20%;
				img {
					margin-left: 20px;
					width: 70%;
				}
			}

			.item_info {
				width: 30%;

				.item_name {
					display: block;
					font-size: 22px;
					text-transform: uppercase;
					margin-bottom: 30px;
				}

				.item_color {
					display: block;
					margin-top: 20px;
					text-transform: uppercase;
					font-weight: bold;
				}
			}

			.item_delete {
				img {
					width: 20%;
					cursor: pointer;
				}
			}

			.item_quantity {
				select {
					width: 50px;
					height: 30px;
					padding-left: 5px;
					border: 1px solid $gray;
					border-radius: 15px;
					outline: none;
					cursor: pointer;
				}
			}
		}

		.empty_basket {
			display: none;
			margin: 20px auto;
			text-align: center;
			text-transform: uppercase;
			font-size: 50px;
			font-style: italic;
		}

		.items_buy {
			.pay_info {
				display: flex;
				.back {
					width: 50%;
					a {
						display: block;
						margin-left: 20px;
						color: $gray;
						text-decoration: underline;

						&:hover {
							color: $black;
						}
					}

					button {
						display: block;
						width: 28%;
						text-align: center;
						margin-top: 30px;
						margin-left: 20px;
						text-transform:uppercase;
						padding:15px 10px;
						color:$white;
						background:$black;
						font-weight:bold;
						font-size:13px;
						letter-spacing: 3px;
						border: 1px solid transparent;
						cursor: pointer;

						&:hover {
							background: $white;
							color: $black;
							border: 1px solid $black;
						}
					}
				}
				.pay {
					width: 50%;

					.pay_sum {
						text-transform: uppercase;
						font-size: 30px;
						width: 300px;
						margin: 0 auto 30px auto;
					}

					a {
						display: block;
						width: 250px;
						text-align: center;
						margin: 0 auto 30px auto;
						text-transform:uppercase;
						padding:15px 43px;
						color:$white;
						background:$black;
						font-weight:bold;
						font-size:13px;
						letter-spacing: 3px;
						border: 1px solid transparent;
						cursor: pointer;

						&:hover {
							background: $white;
							color: $black;
							border: 1px solid $black;
						}
					}
				}
			}
		}
	}
}



footer {
	display: flex;
	width: 100%;
	height: 300px;
	background: $superlightgray;


	.footer_links {
		border-top: 3px solid $turquoise;
		width: 40%;

		.foot_menu_block {
			position: relative;
			display: inline-block;
			vertical-align: top;
			top: 50px;
			left: 15%;

			h3 {
				text-transform: uppercase;
				margin-bottom: 5px;
			}

			.foot_link {
				display: block;
				padding: 7px 0;
			}

			.foot_link:hover {
				text-decoration: underline;
			}
		}

		.foot_block_2 {
			left: 25%;
		}
	}

	.footer_subscribe {
		position: relative;
		width: 35%;

		h3 {
			margin-top: 50px;
			text-transform: uppercase;
		}


		.mail_link {
			position: absolute;
			display: none;
			left: 40%;
			top: 92px;
			width: 30px;
			height: 20px;
		}

		.mail_img {
			position: absolute;
			cursor: pointer;
			left: 42%;
			top: 95px;
			display: block;
			width: 10px;
			height: 15px;
		}

		.subscribe_text {
			margin-top: 20px;
			width: 200px;
			font-style: italic;
			font-size: 10px;
			font-color: $lightgray;
		}

		.subscribe_mail {
			margin-top: 20px;

			input[type="email"] {
				width: 45%;;
				height: 20px;
				padding: 5px;
				border: 1px solid $gray;
				background: $superlightgray;
				border-radius: 15px;
				outline: none;	
			}
		}

		.subscribe_networks {
			margin-top: 40px;

			div {
				display: inline-block;
				width: 37px;
				height: 37px;
				border: 1px solid $black;
				border-radius: 50%;
				background: url("../img/soc_sprite.png") no-repeat;
				background-position: 14px 8px;

				a {
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			.networks_insta {
				background-position: -19px 8px;
			}

			.networks_vk {
				background-position: -55px 8px;
			}

			.networks_pinterest {
				background-position: -92px 8px;
			}
		}
	}

	.footer_comment {
		position: relative;
		width: 25%;
		background: url("../img/005.jpg") no-repeat;
		background-size: cover;

		.leave_call {
			position: absolute;
			width: 200px;
			height: 100px;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: bold;
			text-align: center;
			left: 50%;
			top: 50%;
			margin: -50px 0 0 -100px;
			color: $white;

			a {
				font-size: 20px;
				text-decoration:underline;
				color: $lightgray;
			}
		}
		
		.dark_layer {
			height: 100%;
			background-color: rgba(0,0,0,0.7);
		}
	}	
}


.popup{
	display: none;
	width: 100vw;
	height: 100vh;
	z-index:1000;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	.window{
		position:absolute;
		width:630px;
		height: 550px;
		top: 50%;
		left: 50%;
		margin: -275px 0 0 -315px;
		background:$white;
		text-align: center;
		.close{
			cursor: pointer;
			float:right;
			margin:-15px -15px 0 0 ;
			img{
				width:30px;
			}
		}
		p{
			text-align:center;
			padding-top:20px;
			font-weight:bold;
			margin-bottom: 30px;
			font-size: 20px;
		}

		form {
			width: 630px;
			text-align: center;

			.forms {
				margin:17px 0 17px 0;
			}
			.forms input{
				background:$white;
				color: $black;
				width:275px;
				height:33px;
				border: 1px solid $black;
				padding-left: 20px;
				outline: none;

				&:focus {
					outline: 1px solid $black;
				}
			}
			.forms input:hover{
				color:$black;
			}
			.center_form span{
				color:#cccccc;
				font-size:14px;
			}
			p {
				font-size: 16px;
			}
			textarea { 
				resize: none;
				padding: 5px 10px;
				background: $white;
				color: $black; 
				outline: none;
				border: 1px solid $black;

				&:focus {
					outline: 1px solid $black;
				}
			}
			button{
				margin: 15px 0;
				background:$black;
				border:none;
				font-size:15px;
				color:$white;
				box-shadow:0 0 12px $black;
				width:147px;
				height:35px;
				text-transform: uppercase;
				cursor: pointer;
				&:hover {
					background: $white;
					color: $black;
				}
			}
		}
		
	}
}


@media (max-width: 1200px) {
	.wrapper {
		width: 100%;

		header {
			width: 100%;
		}
	}
}

