@import "./variables.scss";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-stack;
	font-size: 12px;
	letter-spacing: 2px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $black;
}

.wrapper {
	width: 80%;
	margin: 0 auto;

	header {
		z-index: 100;
		position: fixed;
		width: 80%;
		padding-top: 40px;
		background: $lightgrad;

		.logo {
			position: absolute;
			top: 15px;
			left: 2%;

			img {
				width: 20%;
			}
		}

		.search {
			position: absolute;
			width: 40px;
			height: 40px;
			top: 12px;
			right: 7%;
			transition: right 3s;
			

			.search_link {
				display: none; // adjusment for button instead of link
				position: absolute;
				left: 11px;
				top: 5px;
				width: 60%;
				height: 25px;
				cursor: pointer;	
			}

			#search_input {
				display: none;
				position: fixed;
				left: 30%;
				top: 30px;
				width: 44%;
				padding-left: 15px;
				border: none;
				outline: none;
				border-bottom: 2px solid $lightgray;
			}

			img {
				width: 70%;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -35% 0 0 -35%;
				cursor: pointer;	
			}
		}

		.basket {
			position: absolute;
			top: 14px;
			right: 3%;

			a {
				display: block;
				width: 33px;
				height: 33px;
				background: url("../img/busket-icon.png");
				background-size: cover;
			}

			div {
				position: relative;
				bottom: 43px;
				left: 30px;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background: $gray;

				span {
					display: block;
					position: relative;
					right: 1px;
					text-align: center;
					font-weight: bold;
					color: $white;
					letter-spacing: -1px;
				}
			}

		}

		.menu {
			display: flex;
			justify-content: center;

			.menu_link {
				display:block;
				padding: 5px;
				margin: 0 0.2vw;
				height: 50px;
				text-transform: uppercase;
				text-align: center;
				font-weight: bold;
				line-height: 50px;

				&:hover,
				&:focus {
					color: $pink;
				}

			}

		}
	}

	.content{
		width:80%;
		height:300px;
		padding-top:120px;
		margin : 0 auto;
		padding-bottom: 100px;
		position:relative;
		h1{
				text-align:center;
				margin-bottom:60px;
			}
		.care_pc{
			
			ul{
				margin: 0 0 50px 220px;
			}
			li{
				display:inline-block;
			}
			a{
				font-size:18px;
				color:$gray;
			}
			a:focus{

				font-weight:bold;
				transition:3s;
				color:$black;
			}
			p{
				text-indent: 30px;
				line-height:30px;
				font-size:14px;
			}
			.link2{
				margin-left: 30px;
			}
			.link3{
				margin-left: 30px;
			}
			.link4{
				margin-left: 30px;
			}
			.one{
				display:none;
				width:70%;
				margin:0 auto;
				text-align:justify;
			}
			.two{
				@extend .one;
			}
			.three{
				@extend .one;
			}
			.four{
				@extend .one;
			}
		}
		.care_mob{
			display:none;
		}
	}
}
footer {
	width:100%;
	display: flex;
	height: 300px;
	background: $superlightgray;


	.footer_links {
		border-top: 3px solid $turquoise;
		width: 40%;

		.foot_menu_block {
			position: relative;
			display: inline-block;
			vertical-align: top;
			top: 50px;
			left: 15%;

			h3 {
				text-transform: uppercase;
				margin-bottom: 5px;
			}

			.foot_link {
				display: block;
				padding: 7px 0;
			}

			.foot_link:hover {
				text-decoration: underline;
			}
		}

		.foot_block_2 {
			left: 25%;
		}
	}

	.footer_subscribe {
		position: relative;
		width: 35%;

		h3 {
			margin-top: 50px;
			text-transform: uppercase;
		}


		.mail_link {
			position: absolute;
			display: none;
			left: 40%;
			top: 92px;
			width: 30px;
			height: 20px;
		}

		.mail_img {
			position: absolute;
			cursor: pointer;
			left: 42%;
			top: 95px;
			display: block;
			width: 10px;
			height: 15px;
		}

		.subscribe_text {
			margin-top: 20px;
			width: 200px;
			font-style: italic;
			font-size: 10px;
			font-color: $lightgray;
		}

		.subscribe_mail {
			margin-top: 20px;

			input[type="email"] {
				width: 45%;;
				height: 20px;
				padding: 5px;
				border: 1px solid $gray;
				background: $superlightgray;
				border-radius: 15px;
				outline: none;	
			}
		}

		.subscribe_networks {
			margin-top: 40px;

			div {
				display: inline-block;
				width: 37px;
				height: 37px;
				border: 1px solid $black;
				border-radius: 50%;
				background: url("../img/soc_sprite.png") no-repeat;
				background-position: 14px 8px;

				a {
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			.networks_insta {
				background-position: -19px 8px;
			}

			.networks_vk {
				background-position: -55px 8px;
			}

			.networks_pinterest {
				background-position: -92px 8px;
			}
		}
	}

	.footer_comment {
		position: relative;
		width: 25%;
		background: url("../img/005.jpg") no-repeat;
		background-size: cover;

		.leave_call {
			position: absolute;
			width: 200px;
			height: 100px;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: bold;
			text-align: center;
			left: 50%;
			top: 50%;
			margin: -50px 0 0 -100px;
			color: $white;

			a {
				font-size: 20px;
				text-decoration:underline;
				color: $lightgray;
			}
		}

		.dark_layer {
			height: 100%;
			background-color: rgba(0,0,0,0.7);
		}
	}	
}

@media (min-width:1000px)and(max-width: 1200px) {
	.wrapper {
		width: 100%;

		header {
			width: 100%;
		}
		.content{
			position:relative;
		}
	}
}
