@import "./variables.scss";
 @media (max-width: 999px) {
	.wrapper{
		width:100%;
		.content{
			.language{
				display:none;
			}
			.care_pc{
				display:none;
			}
			.care_mob{
				margin:0 auto;
				display:block;
				.menu_right{ 
					margin:0 auto;
					li{
						list-style-type: none; 
						background: white;
						line-height: 37px;
						a{
							color:#000;
							font-size: 16px;
							text-decoration:none;
							height:36px;
							text-align:center;
							// width: 570px;
							border:1px solid #e8e8e8;
							display:block;
							margin-bottom:8px;
							padding-left: 8px; 
						}


						.submenu{
							display: none;
							p{
								text-align:justify;
								margin-top: -8px;
								padding:15px 0 15px 20px; 
								font-size: 15px;
								line-height: 20px;
							}
						}
					}
				}
			}
		}
	}

}
