*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Tahoma, sans-serif;
}
.popup{
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.9);
	z-index: 100;
	display: none;
	.window{
		margin:15% 0 0 25%; 
		background:white;
		width:630px;
		position:relative;
		.close{
			float:right;
			margin:-15px -15px 0 0 ;
			img{
				width:30px;
			}
		}
  	// height:400px;
  	p{
  		text-align:center;
  		padding-top:20px;
  		font-weight:bold;
  		margin-bottom: 30px;
  	}
  	.center_form{
  		text-align:center;
  	}
  	.forms {
  		margin:17px 0 17px 0;
  	}
  	.forms input{
  		background:#111111;
  		color:#cccccc;
  		width:275px;
  		height:33px;
  		border:none;
  		padding-left: 20px;
  	}
  	.forms input:hover{
  		background:#1b5286;
  		box-shadow:0 0 12px #4d88b2;
  		color:white;
  	}
  	.center_form span{
  		color:#cccccc;
  		font-size:14px;
  	}
  	.but{
  		padding:15px;
  	}
  	button{
  		background:#3281c7;
  		border:none;
  		font-size:15px;
  		color:white;
  		box-shadow:0 0 12px #4d88b2;
  		width:147px;
  		height:35px;
  	}
  }
}
.fixed_menu{
	float:right;
	vertical-align: middle;
	p{
		-ms-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);

		-ms-transform-origin: right top 0;
		-moz-transform-origin: right top 0;
		-webkit-transform-origin: right top 0;
		transform-origin: right top 0;
        // text-align:center;
		// margin-top: 30%;
		// float: left;
		height:80px;
		width:5px;
		vertical-align: middle;
		// position:fixed;
		// color:red;
		white-space: nowrap;
	}
}
.wrapper{
	// border-right: 1px solid black;
	// border-left: 1px solid black;
	width:80%;
	margin:0 auto;
	height:800px;
}
.myjcarousel{
	float:left;
	width:45%;
}
.jcarousel {
	position: relative;
	overflow: hidden;
	ul {
		width: 20000em;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			width: 100%;
			height: 100%;
			float: left;
			position: relative;
			img {
				display: block;
				max-width: 100%;
				height: 100%;
				width: 100%;
			}
		}

	}
}

.jcarousel-pagination {
	position: absolute;
	top: 750px;
	left: 340px;
	margin: 0;
	a {
		text-decoration: none;
		display: inline-block;
		font-size: 11px;
		height: 12px;
		width: 12px;
		line-height: 10px;
		background: #fff;
		color: #4E443C;
		border-radius: 10px;
		text-indent: -9999px;
		margin-right: 15px;
		box-shadow: 0 0 2px #4E443C;
	}
	a.active {
		background: #4E443C;
		color: #fff;
		opacity: 1;
		box-shadow: 0 0 2px #F0EFE7;
	}
}
.describsion{
	width:40%;
	float:right;
	.menu_crumb li{
		display:inline-block;
		list-style-type: none;
		font-size:12px;
		color:grey;
		a{
			color:grey;
		}
		a:hover{
			color:black;
		}
	}
	h1{
		text-transform: uppercase;
		font-weight:normal;
		margin: 20px 0 14px 0;
	}
	span{
		color:grey;
		font-size:12px;
	}
}
.size_grid{
	width:40%;
	float:right;
	display:none;
	.table{
		margin:20px 0 30px 0;
		.row1{
			height:20px;
			display:flex;
			padding-top:10px;
			.left_block{
				color:grey;
				width:200px;
				font-size:10px;
				font-weight:bold;
				text-transform:uppercase;
				text-align:center;
			}
			h6{
				width:80px;
				font-size: 13px;
				text-align:center;
				text-transform:uppercase;
			}
			h5{
				font-weight:normal;
				width:80px;
				text-align:center;
			}
		}
		.row2{
			background:pink;
			@extend .row1;
		}
		.row3{
			@extend .row1;
		}
		.row4{
			background:pink;
			@extend .row1;
		}
		.row5{
			@extend .row1;
		}
	}
	p{
		font-size:12px;
	}
	.between_two_size{
		margin:20px 0 20px 0;
	}
	.hide_size{
		text-align:center;
		margin-top:10px;
	.hide_button{
		color:black;
		font-size:14px;
	}
}
}
.hide_box{
	width:40%;
	float:right;
	h5{
		text-transform: uppercase;
		margin:24px 0 30px 0;
	}
	p{
		font-size:12px;
	}
	.model{
		margin:5px 0 32px 0;
	}
	.model_pants a{
		color:black;
	}
	.shirt_color{
		display:flex;
		.white_circle1{
			position:relative;
            	padding:11px 11px 11px 11px;
            	border:1px solid white;
            	border-radius:12px;
            	margin-right:37px;
            }
            .white_circle2{
            	@extend .white_circle1;
            }
            .white_circle3{
            	@extend .white_circle1;
            }
            .circle:hover{
            	border:1px solid grey;
            	transition:all 2s;
            }
            .circle:focus{
            	border:1px solid grey;
            	transition: all 1s;
            }
            .black_circle{
            	height:14px;
            	width:14px;
            	border-radius:7px;
            	position:absolute;
            	background:black;
            	top:3.5px;
            	left:3.5px;
            }
            .grey_circle{
            	background:grey;
            	@extend .black_circle;
            }
            .green_circle{
            	background:green;
            	@extend .black_circle;
            }
        }
        .size{
        	display:flex;
        	.shirt_size li {
        		display: inline-block; 
        	}

        	.shirt_size a {
        		text-decoration: none;
        		color: grey;
        		margin-right: 5px;
        	// border: 2px solid white; 
        	font-weight:bold;
        	font-size:12px;
        }

        .one a {
        	padding: 12px 12px 12px 12px;
        	border-radius: 25px;
        }

        .one a:focus {
        	background: black;
        	color:white; 
        }
        .one a:hover{
        	background: black;
        	color:white; 
        	transition: all 2s;
        }
        
        .one a:not(:hover){
        	transition: all 3s;
        }
        .two{
        	@extend .one;
        }
        .two a {
        	padding: 12px 15px 12px 15px;
        	border-radius: 25px; 
        }
        .tree{
        	@extend .one;
        }
        .tree a {
        	padding: 12px 14px 12px 14px;
        	border-radius: 26px; 
        }
        .four{
        	@extend .one;
        }
        .four a {
        	padding: 12px 16px 12px 16px;
        	border-radius: 25px; 
        }
        .more_size{
        	margin-left:24px;
        	a{
                color:grey;
                font-size:12px;
        	}
        }
    }
    .basket_and_price{
    	margin-top:40px;
    	display:flex;
    	.basket{
    		a{
    			text-decoration:none;
    			text-transform:uppercase;
    			padding:15px 43px 15px 43px;
    			color:white;
    			background:black;
    			font-weight:bold;
    			font-size:12px;
    			letter-spacing: 3px;
    		}
    	}
    	.price{
    		p{
    			font-weight:bold;
    			color:black;
    			font-size:17px;
    			margin-left:40px;
    		}
    	}
    }
    .favourites_and_share{
    	display:flex;
    	margin-top:50px;
    	.favourites{
    		display:flex;
    		padding-top:12px;
    		position:relative;
    		a{
    			color:black;
    			text-transform:uppercase;
    			font-weight:bold;
    			font-size:12px;
    			img{
    				width:30px;
    				margin-top:-7px;
    			}
    		}
    	}
    	.share{
    		margin-left: 60px;
    		padding:8px 20px 8px 20px;
    		border-radius:20px;
    		@extend .favourites;
    		a{
    			img{
    				margin:-1px 10px 0 0;
    				width:22px;
    			}
    		}
    		.insta{
    			margin-left: 20px;
    			display:none;
    		}
    		.pinterest{
    			display:none;
    		}
    		.vkontakte{
    			display:none;
    		}
    		.facebook{
    			display:none;
    		}
    	}
    	.share:hover{
    		border:1px solid grey;
    	}
    }

}