 @import "./variables.scss";
 *{
   padding: 0;
   margin: 0;
 }
 body{
   font-family:$font-stack, sans-serif;
 }
 .popup{
   position: fixed;
   height: 100%;
   width: 100%;
   background: rgba(0,0,0,0.9);
   z-index: 1000;
   display: none;
   .window{
    margin:15% 0 0 25%; 
    background:$white;
    width:630px;
    position:relative;
    .close{
     float:right;
     margin:-15px -15px 0 0 ;
     img{
      width:30px;
    }
  }
  p{
    text-align:center;
    padding-top:20px;
    font-weight:bold;
    margin-bottom: 30px;
  }
  .center_form{
    text-align:center;
  }
  .forms {
    margin:17px 0 17px 0;
  }
  .forms input{
    background:#111111;
    color:#cccccc;
    width:275px;
    height:33px;
    border:none;
    padding-left: 20px;
  }
  .forms input:hover{
    background:#1b5286;
    box-shadow:0 0 12px #4d88b2;
    color:white;
  }
  .center_form span{
    color:#cccccc;
    font-size:14px;
  }
  .but{
    padding:15px;
  }
  button{
    background:#3281c7;
    border:none;
    font-size:15px;
    color:$white;
    box-shadow:0 0 12px #4d88b2;
    width:147px;
    height:35px;
  }
}
}
.link_block_fixed{
  position:fixed;
  margin:20% 0 0 93%;
  a{
    display:block;
    transform: rotate(90deg);
    margin-right:0;
    font-size:13px;
    color:$gray;
    white-space:nowrap;
  }
  a:hover{
    color:$black;
  }
}
.fixed_menu{
  display:none;
  width:699px;
  height:600px;
  position:fixed;
  margin:0 0 0 55%;
  background:$white;
  z-index:1200;
  .open_col{
    display:block;
    float:left;
    margin:20% 10% 0 10%;
    a{
      font-weight:bold;
      color:$gray;
      font-size:15px;
      text-transform:uppercase;
      line-height:45px;
    }
    a:hover{
      color:$black;
    }
  }
  .close_link{
    float:left;
    margin: 30% 0 0 -2%;
    a{
      display:block;
      transform: rotate(90deg);
      margin-right:0;
      font-size:13px;
      color:$gray;
      white-space:nowrap;
    }
    a:hover{
      color:$black;
    }
  }
}
.wrapper{
  width:80%;
  margin:0 auto;
  height:650px;
}
.myjcarousel{
  float:left;
  width:45%;
}

.sliderBox {
  height: 660px;
  width: 450px;
  top: 24px;
  left: 50px;
}
.sliderBox .prevBtn {
  position: absolute;
  z-index: 100;
  top: 240px;
  left: 120px;
  height: 80px;
  width: 80px;
  text-decoration: none;
  background: url("../img/left.png") left top no-repeat;
}
.sliderBox .nextBtn {
  z-index: 100;
  position: absolute;
  top: 240px;
  left:515px;
  height: 80px;
  width: 80px;
  text-decoration: none;
  background: url("../img/right.png") left top no-repeat;
}
.SimSlider {
  position: relative;
  overflow: hidden;
  height: 660px;
  width: 450px;
}
.SimSlider .slide {
  z-index:0;
  position: absolute;
  top: 0px;
  left: 0px;
  img{
    height: 660px;
    width: 450px;
  }
}
a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;
  box-shadow: 0 0 2px #F0EFE7;
}
.describsion{
  width:40%;
  float:right;
  .menu_crumb li{
    display:inline-block;
    list-style-type: none;
    font-size:13px;
    color:$gray;
    a{
      color:$gray;
    }
    a:hover{
      color:$black;
    }
  }
  h1{
    text-transform: uppercase;
    font-weight:normal;
    margin: 20px 0 14px 0;
  }
  span{
    color:$gray;
    font-size:13px;
  }
}
.size_grid{
  width:40%;
  float:right;
  display:none;
  .table{
    margin:20px 0 30px 0;
    .row1{
      height:20px;
      display:flex;
      padding-top:10px;
      .left_block{
        color:$gray;
        width:200px;
        font-size:11px;
        font-weight:bold;
        text-transform:uppercase;
        text-align:center;
      }
      h6{
        width:80px;
        font-size: 14px;
        text-align:center;
        text-transform:uppercase;
      }
      h5{
        font-weight:normal;
        width:80px;
        text-align:center;
      }
    }
    .row2{
      background:$lightgray;
      @extend .row1;
    }
    .row3{
      @extend .row1;
    }
    .row4{
      background:$lightgray;
      @extend .row1;
    }
    .row5{
      @extend .row1;
    }
  }
  p{
    font-size:13px;
  }
  .between_two_size{
    margin:20px 0 20px 0;
  }
  .hide_size{
    text-align:center;
    margin-top:10px;
   .hide_button{
    color:$black;
    font-size:15px;
  }
}
}
.hide_box{
  width:40%;
  float:right;
  h5{
    text-transform: uppercase;
    margin:24px 0 30px 0;
  }
  p{
    font-size:13px;
  }
  .model{
    margin:5px 0 32px 0;
  }
  .model_pants a{
    color:$black;
  }
  .shirt_color{
    display:flex;
    .white_circle1{
      position:relative;
     padding:11px 11px 11px 11px;
     border:1px solid $white;
     border-radius:12px;
     margin-right:37px;
   }
   .white_circle2{
     @extend .white_circle1;
   }
   .white_circle3{
     @extend .white_circle1;
   }
   .circle:hover{
     border:1px solid $gray;
     transition:all 2s;
   }
   .circle:focus{
     border:1px solid $gray;
     transition: all 1s;
   }
   .black_circle{
     height:14px;
     width:14px;
     border-radius:7px;
     position:absolute;
     background:$black;
     top:3.5px;
     left:3.5px;
   }
   .grey_circle{
     background:$gray;
     @extend .black_circle;
   }
   .green_circle{
     background:$green;
     @extend .black_circle;
   }
 }
 .size{
   display:flex;
   .shirt_size li {
    display: inline-block; 
  }

  .shirt_size a {
    text-decoration: none;
    color: $gray;
    margin-right: 5px;
    font-weight:bold;
    font-size:13px;
  }

  .one a {
   padding: 12px 12px 12px 12px;
   border-radius: 25px;
 }

 .one a:focus {
   background: black;
   color:$white; 
 }
 .one a:hover{
   background: $black;
   color:$white; 
   transition: all 2s;
 }

 .one a:not(:hover){
   transition: all 3s;
 }
 .two{
   @extend .one;
 }
 .two a {
   padding: 12px 15px 12px 15px;
   border-radius: 25px; 
 }
 .tree{
   @extend .one;
 }
 .tree a {
   padding: 12px 14px 12px 14px;
   border-radius: 26px; 
 }
 .four{
   @extend .one;
 }
 .four a {
   padding: 12px 16px 12px 16px;
   border-radius: 25px; 
 }
 .more_size{
   margin-left:24px;
   a{
    color:$gray;
    font-size:13px;
  }
}
}
.basket_and_price{
 margin-top:40px;
 display:flex;
 .basket{
  a{
   text-decoration:none;
   text-transform:uppercase;
   padding:15px 43px 15px 43px;
   color:$white;
   background:$black;
   font-weight:bold;
   font-size:13px;
   letter-spacing: 3px;
 }
}
.price{
  p{
   font-weight:bold;
   color:$black;
   font-size:18px;
   margin-left:40px;
 }
}
}
.favourites_and_share{
 display:flex;
 margin-top:50px;
 .favourites{
  display:flex;
  padding-top:12px;
  position:relative;
  a{
   color:$black;
   text-transform:uppercase;
   font-weight:bold;
   font-size:13px;
   img{
    width:30px;
    margin-top:-7px;
  }
}
}
.share{
  margin-left: 60px;
  padding:8px 20px 8px 20px;
  border-radius:20px;
  @extend .favourites;
  a{
   img{
    margin:-1px 10px 0 0;
    width:22px;
  }
}
.insta{
 margin-left: 20px;
 display:none;
}
.pinterest{
 display:none;
}
.vkontakte{
 display:none;
}
.facebook{
 display:none;
}
}
.share:hover{
  border:1px solid $gray;
}
}

}
@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
  .myjcarousel{
    margin-left:20px;
  }
  .sliderBox .prevBtn {
    top: 240px;
    left: 25px;
  }
  .sliderBox .nextBtn {
    top: 240px;
    left:395px;
  }
}