@import "./variables.scss";
@media (max-width: 599px) {

	.link_block_fixed{
		display:none;
	}
	.open_col{
		display:none;
	}
	.wrapper{
		height:1600px;
		width: 100%;
		header {
			width: 100%;
			height: 50px;
			.logo {
				top: 22px;
				img {
					width: 25%;
				}
			}

			.search {
				top: 13px;
				right: 110px;
				#search_input {
					width: 36%;
				}
			}

			.busket {
				right: 70px;
			}

			.menu_open {
				display: block;
				position: absolute;
				right: 10px;
				top: 21px;
				cursor: pointer;
				width: 44px;
				img {
					display: block;
				}
				.menu_sign {
					width: 80%;
				}
				.cross_sign {
					display: none;
					position: relative;
					bottom: 3px;
					left: 4px;
					width: 65%;
				}
			}

			.menu {
				display: none;
				height: 100vh;
				padding-top: 50px;
				flex-direction: column;
				background: $white;
			}
		}
		.content_up{
			flex-direction:column;
			.swiper-container {
				width: 80%;
				height: 100%;
				margin:0 auto;

			}
			.swiper-slide {
				font-size: 18px;
				background: #fff;
				img{
					width:100%;
				}
			}
			.swiper-button-prev,.swiper-button-next{
				display:none;
			}
			.left_describ{
				margin:0 auto;
				padding-top:60px;
				.menu_crumb{
					display:none;
				}
				h1{
					text-align: center;
				}
				.wbl p{
					text-align:center;
				}
				.price_mob{
					display:block;
					p{
						font-weight:bold;
						color:$black;
						font-size:18px;
						text-align:center;
						margin-top:20px;
					}
				}
				.hide_box{
					h5{
						text-align:center;
					}
					p{
						text-align:center;
					}
					.describe{
						h5{
							text-align:center;
						}
						
					}
					.filter_color{
						text-align:center;
					}
					.sizes{
						display:block;
					}
					.more_size{
						display:none;
					}
					.filter_size{
						text-align:center;
					}
					.basket_and_price{
						display:block;
						.price{
							display:none;
						}
						.filter_button {
							text-align:center;
							button{
								font-size:15px;
								color:$white;
								width:387px;
								height:45px;
								text-transform: uppercase;
								cursor: pointer;
								letter-spacing:5px;
								&:hover {
									border: 1px solid $black;
									background: $white;
									color: $black;
								}
							}
						}
					}
					// .share{
					// 	margin-left:80px;
					// 	.share_text{
					// 		display:none;
					// 	}
					// 	.insta,.pinterest,.vkontakte,.facebook{
					// 		display:block;
					// 	}
					// }
					.favourites_and_share{
						display:none;
					}
					.share_hidden{
						text-align:center;
						display:block;
						p{
							color:$black;
							text-transform:uppercase;
							font-weight:bold;
							font-size:13px;
							margin-top:30px;
						}
						.share_hid{
							margin:10px 0 0 20px;

							padding:8px 20px 8px 20px;
							border-radius:20px;
							// @extend .favourites;
							display:flex;
							padding-top:12px;
							position:relative;
							a{
								color:$black;
								text-transform:uppercase;
								font-weight:bold;
								font-size:13px;
								img{
									width:30px;
									margin-top:-7px;
								}
							}
							a{
								img{
									margin:-1px 10px 0 0;
									width:22px;
								}
							}
							.share_text{
								display:none;
							}
							.insta{
								margin-left: 20px;
								display:block;
							}
							.pinterest{
								display:block;
							}
							.vkontakte{
								display:block;
							}
							.facebook{
								display:block;
							}
						}
					}
				}

			}
		}
	}
	footer {
		min-height: 620px;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		// align-items: center;
		width: 100%;
		background: $white;
		border-top: 1px solid $gray;
		font-size: 14px;

		.none {
			display: none;
		}

		.footer_links {
			border-top: none;
			margin: 0 auto;

			.foot_menu_block {
				position: static;
				display: block;
				vertical-align: top;
				width: 100%;
				margin: 20px auto;
				text-align: center;

				h3 {
					text-transform: uppercase;
					margin-bottom: 5px;
				}

				.language_head {
					margin-top: 30px;
				}

				.language {
					margin-top: 10px;
					a {
						display: inline-block;
						font-weight: bold;
						text-transform: uppercase;
						color: $gray;

						&:hover {
							color: $black;
						}
					}
				}


				.foot_link:hover {
					text-decoration: underline;
				}
			}

		}

		.footer_subscribe {
			position: relative;
			width: 300px;
			text-align: center;
			margin: 0 auto;

			h3 {
				margin-top: 10px;
				text-transform: uppercase;
			}

			.subscribe_text {
				margin: 20px auto;
				width: 200px;
				font-style: italic;
				font-size: 10px;
				font-color: $lightgray;
			}

			.subscribe_mail {
				width: 200px;
				margin: 0 auto;
				margin-top: 20px;
				

				input[type="email"] {
					display: block;
					width: 200px;
					height: 20px;
					padding: 5px;
					border: 1px solid $black;
					background: $white;
					outline: none;
					text-align: center;
					:-moz-placeholder { 
						text-align:center; 
					}	
				}

				::-webkit-input-placeholder { 
					text-align:center; 
				}

				.mail_link {
					position: relative;
					display: block;
					width: 210px;
					height: 30px;
					top: -1px;
					left: 0;
					line-height: 30px;
					background: $white;
					text-align: center;
					border: 1px solid $black;
					&:hover {
						background: $black;
						color: $white;
					}

				}
			}

			.subscribe_networks {
				margin-top: 20px;
				width: 200px;
				margin: 0 auto;

				div {
					display: inline-block;
					width: 37px;
					height: 37px;
					border: 1px solid $black;
					border-radius: 50%;
					background: url("../img/soc_sprite.png") no-repeat;
					background-position: 14px 8px;

					a {
						display: block;
						width: 100%;
						height: 100%;
					}
				}

				.networks_insta {
					background-position: -19px 8px;
				}

				.networks_vk {
					background-position: -55px 8px;
				}

				.networks_pinterest {
					background-position: -92px 8px;
				}
			}
		}

		.footer_comment {
			display: none;
		}	

		.leave_call_mob {
			display: block;
			margin: 0 auto;
			margin-top: 30px;
			width: 300px;
			text-align: center;
			text-transform:uppercase;
			padding:10px;
			color:$black;
			background:$white;
			font-weight:bold;
			font-size:12px;
			border: 1px solid $black;
			text-decoration: none;
			&:hover {
				background: $black;
				color: $white;
				border: 1px solid $black;
			}
		}
	}
}
@media (max-width: 484px){
	.wrapper{
		height:1350px;
		width: 100%;
		header {
			width:100%;
			.search {
				left: 10px;
				#search_input {
					left: 60px;
					width: 36%;
				}
			}
			.logo {
				top: 22px;
				left: 70px;
				img {
					width: 47%;
				}
			}
		}
		.content{
			.content_up{
				flex-direction:column;
				.myjcarousel{
					width:100%;
					height:100%;
					margin-left: 0px;
				}
				.sliderBox {
					height: 360px;
					width: 240px;
				// top: 24px;
				left: 0px;
				margin:0 auto;
				position:relative;
			}
			.SimSlider {
				position: relative;
				overflow: hidden;
				height: 360px;
				width: 240px;
			}
			.SimSlider .slide {
				z-index:0;
				position: absolute;
				top: 0px;
				left: 0px;
				img{
					height: 360px;
					width: 100%;
				}
			}
			.sliderBox .prevBtn {
				display:none;
			}
			.sliderBox .nextBtn {
				display:none;
			}
			.left_describ{
				margin:0 auto;
				padding-top:60px;
				.menu_crumb{
					display:none;
				}
				h1{
					text-align: center;
				}
				.wbl p{
					text-align:center;
				}
				.price_mob{
					display:block;
					p{
						font-weight:bold;
						color:$black;
						font-size:18px;
						text-align:center;
						margin-top:20px;
					}
				}
				.hide_box{
					h5{
						text-align:center;
					}
					p{
						text-align:center;
					}
					.describe{
						h5{
							text-align:center;
						}
					}
					.filter_color{
						text-align:center;
					}
					.sizes{
						display:block;
					}
					.more_size{
						display:none;
					}
					.filter_size{
						text-align:center;
					}
					.basket_and_price{
						display:block;
						.price{
							display:none;
						}
						.filter_button {
							text-align:center;
							button{
								font-size:15px;
								color:$white;
								width:217px;
								height:45px;
								text-transform: uppercase;
								cursor: pointer;
								letter-spacing:5px;
								&:hover {
									border: 1px solid $black;
									background: $white;
									color: $black;
								}
							}
						}
					}
				}
				.share{
					margin-left: 25px;
				}

			}
		}
	}
}
footer {
	.footer_subscribe {
		width: 230px;
	}
	.leave_call_mob {
		width: 200px;
	}
} 
}