@import "./variables.scss";
@media (max-width: 1000px) {
	
	.wrapper {
		width: 100%;

		.main {
			display: flex;
			padding-top: 40px;


			aside {
				display: none;
				position: fixed;
				background: $white;
				top: 190px;
				width: 100%;
				height: 70px;
				z-index: 100;


				.side_menu {
					margin: 0;
					width: 100%;

					.side_item {
						display: inline-block;
						box-sizing: border-box;
						width: 24%;

						.side_link {
							display: block;
							text-align: center;
							padding: 10px;
							text-transform: uppercase;
							color: $black;
							font-size: 14px;

							&:hover,
							&:focus {
								font-weight: bold;
							}
						}
					}
				}
			}

			.content {
				margin-top: 70px;
				width: 100%;
				height: 100%;


				.content_logic {
					position: relative;
					width: 100%;
					height: 60px;

					div {
						position: absolute;
						display: inline-block;
						height: 100%;

						a {
							display: block;
							line-height: 60px;
							text-transform: uppercase;
							color: $black;

							&:hover {
								font-weight: bold;
							}
						}
					}

					.filter {
						position: relative;
						border: 1px solid $black;
						margin-left: 2%;
						width: 23%;
						box-sizing: border-box;
						text-align: center;
						top: 0;
						left: 0;
					}

					.by_price,
					.by_date,
					.categories {
						position: relative;
						border: 1px solid $black;
						text-align: center;
						width: 23%;
						box-sizing: border-box;
					}

					
				}

				.content_items {
					position: relative;

					.filter_items {
						z-index: 50;
						display: none;
						position: absolute;
						left: 2%;
						top: 20px;
						width: 96%;
						height: 370px;
						background: $white;

						div {
							display: inline-block;
							width: 48%;
							vertical-align: top;
							margin-bottom: 40px;

							h3 {
								margin-bottom: 10px;
							}
						}
						.filter_size {

							.size {
								display: inline-block;
								width: 30px;
								height: 30px;
								background: $white;
								border-radius: 50%;
								margin-top: 20px; 

								input[type="radio"] {
									position: absolute;
									visibility: hidden;
								}

								label {
									display: block;
									width: 100%;
									line-height: 30px;
									font-weight:bold;
									text-align: center;
								}

								&:not(:hover) {
									transition: all 3s;
								}

								&:hover {
									background: $black; 
									transition: all 2s;

									label {
										color: $white;
										transition: all 2s; 
									}
								}

								&:focus {
									background: $black;
									label {
										color: $white;
										transition: all 2s;
									}	 
								}
							}

						}

						.filter_color {
							.color {
								display: inline-block;
								margin-right: 10px;
								margin-top: 20px;

								input[type="radio"] {
									position: absolute;
									visibility: hidden;
								}

								label {
									display: block;
									width: 10px;
									height: 10px;
									border-radius: 50%;
									background: $black;
									border: 3px solid transparent;
									transition: border 1s;

									&:hover,
									&:focus {
										border: 3px solid $white;
									}
								}
							}

							.color_lightgray label{
								background: $lightgray;
							}

							.color_superlightgray label{
								background: $superlightgray;
							}

							.color_mustard label{
								background: $mustard;
							}

							.color_green label{
								background: $green;						
							}
							.color_turquoise label{
								background: $turquoise;
							}

							.color_blue label{
								background: $blue;
							}

							.color_pink label{
								background: $pink;
							}

							.color_red label{
								background: $red;
							}
						}

						.filter_price {
							margin-top: -10px;
						}

						.filter_button {
							button{
								margin-left: 20%;
								background:$black;
								border:none;
								font-size:15px;
								color:$white;
								border: 1px solid transparent;
								width:147px;
								height:35px;
								text-transform: uppercase;
								cursor: pointer;
								&:hover {
									border: 1px solid $black;
									background: $white;
									color: $black;
								}
							}
						}

					}


					.content_item {
						display: inline-block;
						width: 45%;
						margin: 20px 2%;
						box-sizing: border-box;


						.item_img {
							position: relative;
							.sale {
								position: absolute;
								right: 0;
								top: 0;
								width: 50px;
								height: 30px;
								background: $black;
								color: $white;
								text-transform: uppercase;
								text-align: center;
								line-height: 30px;
							}
							img {
								width: 100%;
							}
						}

						.item_info {
							margin-top: 10px;
							text-transform: uppercase;
							text-align: center;

							p {
								min-height: 30px;
							}

							.price {
								width: 100px;
								height: 30px;
								margin: 0 auto;
								margin-top: 5px;
							}

							.color {
								display: block;
								width: 10px;
								height: 10px;
								border-radius: 50%;
								margin: 0 auto;
								margin-top: 5px;
								&:focus {
									width: 7px;
									height: 7px;
									border: 3px solid $gray;
								}
							}

							.col_blue {
								background: $blue;
							}
						}
					}


					.show_more {
						width: 80%;
						margin: 0 auto;
						border: 1px solid $black;
						padding: 10px 0;
						margin-bottom: 40px;
						text-align: center;
						cursor: pointer;
						&:hover {
							background: $black;
							a {
								color: $white;
							}
						}
						a {
							text-transform: uppercase;
							&:hover {
								font-weight: bold;
							}
						}

						.arrow {
							display: none;
							margin: 0 auto;
							width: 22px;
							height: 15px;
							background: url("../img/arrow.png") no-repeat;
							background-size: cover;
						}

					}

				}
			}
		}
	}
} 


@media (max-width: 800px) {
	.wrapper {
		header {
			height: 50px;
			.logo {
				top: 22px;
				img {
					width: 25%;
				}
			}

			.search {
				top: 13px;
				right: 110px;
				#search_input {
					width: 36%;
				}
			}

			.busket {
				right: 70px;
			}

			.menu_open {
				display: block;
				position: absolute;
				right: 10px;
				top: 21px;
				cursor: pointer;
				width: 44px;
				img {
					display: block;
				}
				.menu_sign {
					width: 80%;
				}
				.cross_sign {
					display: none;
					position: relative;
					bottom: 3px;
					left: 4px;
					width: 65%;
				}
			}

			.menu {
				display: none;
				height: 100vh;
				padding-top: 50px;
				flex-direction: column;
				background: $white;
			}
		}

	}


	footer {
		min-height: 620px;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		width: 100%;
		background: $white;
		border-top: 1px solid $gray;
		font-size: 14px;

		.none {
			display: none;
		}

		.footer_links {
			border-top: none;
			margin: 0 auto;

			.foot_menu_block {
				position: static;
				display: block;
				vertical-align: top;
				width: 100%;
				margin: 20px auto;
				text-align: center;

				h3 {
					text-transform: uppercase;
					margin-bottom: 5px;
				}

				.language_head {
					margin-top: 30px;
				}

				.language {
					margin-top: 10px;
					a {
						display: inline-block;
						font-weight: bold;
						text-transform: uppercase;
						color: $gray;

						&:hover {
							color: $black;
						}
					}
				}


				.foot_link:hover {
					text-decoration: underline;
				}
			}

		}

		.footer_subscribe {
			position: relative;
			width: 300px;
			text-align: center;
			margin: 0 auto;

			h3 {
				margin-top: 10px;
				text-transform: uppercase;
			}

			.subscribe_text {
				margin: 20px auto;
				width: 200px;
				font-style: italic;
				font-size: 10px;
				font-color: $lightgray;
			}

			.subscribe_mail {
				width: 200px;
				margin: 0 auto;
				margin-top: 20px;
				

				input[type="email"] {
					display: block;
					width: 200px;
					height: 20px;
					padding: 5px;
					border: 1px solid $black;
					background: $white;
					outline: none;
					text-align: center;
					:-moz-placeholder { 
						text-align:center; 
					}	
				}

				::-webkit-input-placeholder { 
					text-align:center; 
				}

				.mail_link {
					position: relative;
					display: block;
					width: 210px;
					height: 30px;
					top: -1px;
					left: 0;
					line-height: 30px;
					background: $white;
					text-align: center;
					border: 1px solid $black;
					&:hover {
						background: $black;
						color: $white;
					}

				}
			}

			.subscribe_networks {
				margin-top: 20px;
				width: 200px;
				margin: 0 auto;

				div {
					display: inline-block;
					width: 37px;
					height: 37px;
					border: 1px solid $black;
					border-radius: 50%;
					background: url("../img/soc_sprite.png") no-repeat;
					background-position: 14px 8px;

					a {
						display: block;
						width: 100%;
						height: 100%;
					}
				}

				.networks_insta {
					background-position: -19px 8px;
				}

				.networks_vk {
					background-position: -55px 8px;
				}

				.networks_pinterest {
					background-position: -92px 8px;
				}
			}
		}

		.footer_comment {
			display: none;
		}	

		.leave_call_mob {
			display: block;
			margin: 0 auto;
			margin-top: 30px;
			width: 300px;
			text-align: center;
			text-transform:uppercase;
			padding:10px;
			color:$black;
			background:$white;
			font-weight:bold;
			font-size:12px;
			border: 1px solid $black;
			text-decoration: none;
			&:hover {
				background: $black;
				color: $white;
				border: 1px solid $black;
			}
		}
	}
}

@media (max-width: 500px) {

	.wrapper {
		header {
			.search {
				left: 10px;
				#search_input {
					left: 60px;
					width: 36%;
				}
			}
			.logo {
				top: 22px;
				left: 70px;
				img {
					width: 47%;
				}
			}
		}
		.main {
			aside {
				.side_menu {
					.side_item {
						width: 18%;
						vertical-align: top;

						&:last-child {
							width: 36%;
							margin-left: 5%;
						}
					}
				}
			}
			.content {
				.content_logic {
					.filter,
					.by_date,
					.by_price,
					.categories {
						width: 22.5%
					}
				}
				.content_items {
					.filter_items {
						.filter_button {
							display: block;
							position: relative;
							bottom: 80px;
							left: 0;
							button {
								margin-left: 0;
							}
						}
					}
					.content_item {
						width: 96%;
					}
					.show_more {
						width: 96%;
					}
				}
			}
		}
	}
	footer {
		.footer_subscribe {
			width: 230px;
		}
		.leave_call_mob {
			width: 200px;
		}
	} 
	
}





