@import "./variables.scss";
@media  (max-width: 999px) {
	.wrapper{
		width:100%;
		header {
			width: 100%;
			height: 50px;
			.logo {
				top: 22px;
				img {
					width: 25%;
				}
			}

			.search {
				top: 13px;
				right: 110px;
				#search_input {
					width: 36%;
				}
			}

			.busket {
				right: 70px;
			}

			.menu_open {
				display: block;
				position: absolute;
				right: 10px;
				top: 21px;
				cursor: pointer;
				width: 44px;
				img {
					display: block;
				}
				.menu_sign {
					width: 80%;
				}
				.cross_sign {
					display: none;
					position: relative;
					bottom: 3px;
					left: 4px;
					width: 65%;
				}
			}

			.menu {
				display: none;
				height: 100vh;
				padding-top: 50px;
				flex-direction: column;
				background: $white;
			}
		}
		.content{
			.language{
				display:none;
			}
			.first_news{
				display:block;
				.left_block{
					display:none;
				}
				.right_block{
					width:100%;
					.data_mob{
						display:block;
						p{
							margin:0 0 15px -5px;
							color:$gray;		
							font-weight:normal;
							font-size:12px; 
							display:block;
							height:20px;
						}
					}
					.com_mob{
						display:block;
						margin:12px 0 25px 12px;
						float:left;
						a{
							color:$gray;
							font-weight:normal;
							font-size: 14px;
							position:relative;

							img{
								width:17px;
							}
						}
						.com_icon{
							margin-top: 20px;
						}
						a:hover{
							color:$black;
						}
					}
					h1{
						width:95%;
						margin:0 auto;
						font-weight:normal;
						padding-bottom: 15px;
					}
					p{
						padding-top:25px;
						width:95%;
						margin:0 auto;
					}
					.read_more{
						text-align:center;
						margin-top:60px;
						a{
							padding:10px 120px 10px 120px;
						}               	
					}
				}
			}
		}
	}
	footer {
		min-height: 620px;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		// align-items: center;
		width: 100%;
		background: $white;
		border-top: 1px solid $gray;
		font-size: 14px;

		.none {
			display: none;
		}

		.footer_links {
			border-top: none;
			margin: 0 auto;

			.foot_menu_block {
				position: static;
				display: block;
				vertical-align: top;
				width: 100%;
				margin: 20px auto;
				text-align: center;

				h3 {
					text-transform: uppercase;
					margin-bottom: 5px;
				}

				.language_head {
					margin-top: 30px;
				}

				.language {
					margin-top: 10px;
					a {
						display: inline-block;
						font-weight: bold;
						text-transform: uppercase;
						color: $gray;

						&:hover {
							color: $black;
						}
					}
				}


				.foot_link:hover {
					text-decoration: underline;
				}
			}

		}

		.footer_subscribe {
			position: relative;
			width: 300px;
			text-align: center;
			margin: 0 auto;

			h3 {
				margin-top: 10px;
				text-transform: uppercase;
			}

			.subscribe_text {
				margin: 20px auto;
				width: 200px;
				font-style: italic;
				font-size: 10px;
				font-color: $lightgray;
			}

			.subscribe_mail {
				width: 200px;
				margin: 0 auto;
				margin-top: 20px;
				

				input[type="email"] {
					display: block;
					width: 200px;
					height: 20px;
					padding: 5px;
					border: 1px solid $black;
					background: $white;
					outline: none;
					text-align: center;
					:-moz-placeholder { 
						text-align:center; 
					}	
				}

				::-webkit-input-placeholder { 
					text-align:center; 
				}

				.mail_link {
					position: relative;
					display: block;
					width: 210px;
					height: 30px;
					top: -1px;
					left: 0;
					line-height: 30px;
					background: $white;
					text-align: center;
					border: 1px solid $black;
					&:hover {
						background: $black;
						color: $white;
					}

				}
			}

			.subscribe_networks {
				margin-top: 20px;
				width: 200px;
				margin: 0 auto;

				div {
					display: inline-block;
					width: 37px;
					height: 37px;
					border: 1px solid $black;
					border-radius: 50%;
					background: url("../img/soc_sprite.png") no-repeat;
					background-position: 14px 8px;

					a {
						display: block;
						width: 100%;
						height: 100%;
					}
				}

				.networks_insta {
					background-position: -19px 8px;
				}

				.networks_vk {
					background-position: -55px 8px;
				}

				.networks_pinterest {
					background-position: -92px 8px;
				}
			}
		}

		.footer_comment {
			display: none;
		}	

		.leave_call_mob {
			display: block;
			margin: 0 auto;
			margin-top: 30px;
			width: 300px;
			text-align: center;
			text-transform:uppercase;
			padding:10px;
			color:$black;
			background:$white;
			font-weight:bold;
			font-size:12px;
			border: 1px solid $black;
			text-decoration: none;
			&:hover {
				background: $black;
				color: $white;
				border: 1px solid $black;
			}
		}
	}

}
@media (max-width: 484px){
	.wrapper{
		width:100%;
		header {
			width:100%;
			.search {
				left: 10px;
				#search_input {
					left: 60px;
					width: 36%;
				}
			}
			.logo {
				top: 22px;
				left: 70px;
				img {
					width: 47%;
				}
			}
		}
		.content{
			.language{
				display:none;
			}
			.first_news{
				display:block;
				.left_block{
					display:none;
				}
				.right_block{
					width:100%;
					.data_mob{
						display:block;
						p{
							margin:0 0 15px -10px;
							color:$gray;		
							font-weight:normal;
							font-size:12px; 
							display:block;
							height:20px;
						}
					}
					.com_mob{
						display:block;
						margin:12px 0 25px 12px;
						float:left;
						a{
							color:$gray;
							font-weight:normal;
							font-size: 14px;
							position:relative;

							img{
								width:17px;
							}
						}
						.com_icon{
							margin-top: 20px;
						}
						a:hover{
							color:$black;
						}
					}
					h1{
						width:95%;
						margin:0 auto;
						font-weight:normal;
						padding-bottom: 15px;
					}
					p{
						padding-top:25px;
						width:95%;
						margin:0 auto;
					}
					.read_more{
						text-align:center;
						margin-top:60px;
						a{
							padding:10px 40px 10px 40px;
						}               	
					}
				}
			}
			.pagination {
				margin:67px 0 40px 0;
			}
		}
	}
	footer {
		.footer_subscribe {
			width: 230px;
		}
		.leave_call_mob {
			width: 200px;
		}
	} 

}
