$font-stack: Tahoma, sans-serif;

$black: #000;
$gray: #a1a1a1;
$lightgray: #dddddd;
$white: #fff;
$mustard: #ffe485;
$green: #b5c965;
$turquoise: #56d2b1;
$blue: #4a76b9;
$pink: #f22b47;
$red: #9c2727;